/* Basic Selectors */
*{
    margin: 0;
    padding: 0;

}
:root{
    --main-color: #333;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-color);
}

#main-header{
    background-color: darkkhaki;
    color: white;
}

.card{
    border: 1px solid black;
    margin: 2rem;
    padding: 20px;
}

/* Combinator Selectors */
.card > p{
    background-color: darkgray;
}


.card > p{
    font-size: 0.9rem;
}

.card > h3{
    color: blue;
}

nav a{
    color: white;
    text-decoration: none;
}

/* Attribute Selectors */
a[href^="https"]{
    color: green;
}

a[href$=".pdf"]
{
    color: red;
}

input[type="email"]
{
    border: 1px solid blue;
}

input[required*]
{
    background-color: yellow;
}

input[type="url"]
{
    border: 1px solid purple;
}

.skills li:first-child{
    font-weight: bold;
    color: red;
}
.skills li:last-child{
    font-weight: bold;
    color: blue;
}


.skills li:nth-child(odd)
{
    background-color: lightgray;
}


.skills li:nth-child(even)
{
    background-color: white;
}


li:not(:first-child)
{
    font-style: italic;
}

a:hover{
    color: yellow;
}

.card:hover{
    box-shadow: 5px 5px 5px;
}

input:focus{
    border: 1px solid orange;
    outline: none;
}

input:disabled{
    opacity: 40%;
}

.primary:hover{
    background-color: darkcyan;
    color: white;
}

.posts h2:nth-of-type(1)
{
    text-transform: uppercase;
}

.card h3::before{
    content: "📄" ;
}

nav a::after{
    content: "→ " ;
}

.card p::first-letter{
    font-size: large;
    font-weight: bold;
}

input::placeholder{
    font-style: italic;
    background-color: lightgray;
}


::selection
{
    background-color: yellow;
    color: black;
}

