.container {
    display: flex;
    flex-wrap: wrap;

    gap: 100px;         /* row-gap column-gap */
    
}

.box
{
    background: steelblue;
    color: white;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    flex-grow: 1;
}

.box:nth-child(1) { order: 3; }
.box:nth-child(2) { order: 1; }
.box:nth-child(3) { order: 2; }